body {
  font-family: "Avenir Next";
}

header {
  background-color: #666666;
  height: 90px;
}


.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-menu{
  font-size: 18px;
  float: right;
}

.header-menu li{
  float: left;
  padding: 20px 20px;
}

.token {
  font-size: 24px;
  display: inline-flex;
  flex-direction: row;
}

li {
  list-style: none;
}
